.board-container {
    width: 90%;
    margin: 20px auto;
}

.board-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.write-button {
    padding: 6px 12px;
    background-color: #99bc85;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

thead>th {
    background-color: #AEC8A4;
    font-weight: bold;
}

.board-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.board-table th,
.board-table td {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.board-table thead th {
    background-color: #f5f5f5;
    font-weight: bold;
}

/* 수정 */
.board-table td:nth-child(2) {
    width: 46%;
}

.board-table .odd {
    background-color: #f5f5f5;
}

.board-table .even {
    background-color: #fff;
}

.title-cell {
    text-align: left;
    padding-left: 20px;
}

.pagination {
    margin-top: 10px;
    text-align: center;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.pagination button.active {
    font-weight: bold;
    text-decoration: underline;
}